ul {
    padding-left: 0;
    list-style-type: none;
    padding: 5px;
}

li {
      margin: '5px 0';
      border-radius: 5px;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax-layer {
}

.parallax-foreground {
  -webkit-transform: translate3d(0px,-5000px,0) scale(1);
  transform: translate3d(0px,-5000px,0) scale(1);
}

.parallax-background {
  -webkit-transform: translate3d(-700px,-400px,-1px) scale(1);
  transform: translate3d(-700px,-400px,-1px) scale(1);
  width: 5000px;
  height: 5000px;
}

.redIcon {
        font-size: 20;
        float: "left";
        position: "absolute";
        top: 12;
        left: 6;
        cursor: pointer;
        color: #900;
        margin-left: 30px;
        margin-right: 30px;
}

.greenIcon {
        font-size: 20;
        float: "left";
        position: "absolute";
        top: 12;
        left: 6;
        cursor: pointer;
        color: #090;
}

.todoItem {
          paddingLeft: 20px;
          fontSize: 17px;
}

.todoItemStrikethru {
          paddingLeft: 20px;
          fontSize: 17px;
          text-decoration: line-through;
}

.top-corner {
  position: absolute;
  top: 27px;
}

.midBorder {
  background: #f7b047;
}

.headers {
  margin: 25px;
}
.outerBorder {
  background: #FFF;
  margin: 25px;
  width: 550px;
  float: left;
}

.grid {
  background-image: url("grid.png");
  background-repeat: repeat;
  width: 100%;
  height: 5000px;
}

.clear {
  clear:both;
}

.titleBorder {
  background: #FFF;
  border-color: #000;
  border: 5px solid #f7b047;
}

.category-input {
  top: 50px;
  right: 100px;
  margin: 10px;
}

.text-block {
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  background-color: white;
}

.category-button {
  margin: 10px;
}

.new-category-form {
  margin: 10px;
  border: 1px black solid;
  clear: both;
}

.login-page {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.button-login-github {
  margin: 10px;
}

.button-login-google {
  margin: 10px;
}
