ul {
    padding-left: 0;
    list-style-type: none;
}

li {
      margin: '5px 0';
      border-radius: 5px;
}

img {
  float: left;
}

.redIcon {
        font-size: 20;
        float: "left";
        position: "absolute";
        top: 12;
        left: 6;
        cursor: pointer;
        color: #900;
}

.greenIcon {
        font-size: 20;
        float: "left";
        position: "absolute";
        top: 12;
        left: 6;
        cursor: pointer;
        color: #090;
}

.todoItem {
          paddingLeft: 20px;
          fontSize: 17px;
}

.todoItemStrikethru {
          paddingLeft: 20px;
          fontSize: 17px;
          text-decoration: line-through;
}

.top-corner {
  position: absolute;
  top: 27px;
}

.midBorder {
  background: #f7b047;
}

.outerBorder {
  background: #FFF;
  padding: 25px;
  width: 400px;
  float: left;
  clear: left;
}

.titleBorder {
  background: #FFF;
  border-color: #000;
}

.category-input {
  top: 50px;
  right: 100px;
  margin: 10px;
}

.outstanding-items {
  margin: 10px;
  font-size: 14px;
}

.category-button {
  margin: 10px;
}

.new-category-form {
  margin: 10px;
}

.login-page {

}

.button-login-github {
  margin: 10px;
}

.button-login-google {
  margin: 10px;
}
