ul {
    padding-left: 0;
    list-style-type: none;
}

li {
      margin: '5px 0';
      border-radius: 5px;
}

.redIcon {
        font-size: 20;
        float: "left";
        position: "absolute";
        top: 12;
        left: 6;
        cursor: pointer;
        color: #900;
}

.greenIcon {
        font-size: 20;
        float: "left";
        position: "absolute";
        top: 12;
        left: 6;
        cursor: pointer;
        color: #090;
}

.todoItem {
          paddingLeft: 20px;
          fontSize: 17px;
}

.todoItemStrikethru {
          paddingLeft: 20px;
          fontSize: 17px;
          text-decoration: line-through;
}

.top-corner {
  position: absolute;
  top: 27px;
}

.a {
  background: #f7b047;
}

.b {
  background: #FFF;
  padding: 25px;
}

.c {
  background: #FFF;
}

.category-input {
  top: 50px;
  right: 100px;
}

.category-button {
  top: 100px;
  right: 100px;
}

.new-category-form {
  position: absolute;
  right: 25px;
  top: 25px;
}

.login-page {

}

.login-button {
  position: absolute;
  left: 125px;
  top: 25px;
}

.login-button2 {
  position: absolute;
  left: 125px;
  top: 75px;
}
